USE [master]
GO
/****** Object:  Database [NasaHttpServerStatistic]    Script Date: 1/14/2018 19:49:29 ******/
CREATE DATABASE [NasaHttpServerStatistic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NasaHttpServerStatistic', FILENAME = N'G:\MS EXPRESS\MSSQL12.SQLEXPRESS14\MSSQL\DATA\NasaHttpServerStatistic.mdf' , SIZE = 751616KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NasaHttpServerStatistic_log', FILENAME = N'G:\MS EXPRESS\MSSQL12.SQLEXPRESS14\MSSQL\DATA\NasaHttpServerStatistic_log.ldf' , SIZE = 5095872KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NasaHttpServerStatistic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NasaHttpServerStatistic]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 1/14/2018 19:49:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Requests](
	[RequestId] [bigint] IDENTITY(1,1) NOT NULL,
	[Route] [varchar](1024) NOT NULL,
	[QueryString] [nvarchar](256) NULL,
	[ClientHostname] [varchar](64) NOT NULL,
	[ClientLocation] [varchar](64) NOT NULL,
	[StatusCode] [smallint] NOT NULL,
	[DataSize] [bigint] NULL,
	[Datetime] [datetime] NOT NULL,
 CONSTRAINT [PK_Requests] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [IX_Requests_Datetime]    Script Date: 1/14/2018 19:49:29 ******/
CREATE NONCLUSTERED INDEX [IX_Requests_Datetime] ON [dbo].[Requests]
(
	[Datetime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
