<div class="jumbotron">
    <h1>Test task</h1>
    <p class="lead">This is test task created for skills demonstration</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Clients api controller</h2>
        <p>Controller for displaying clients hostanmes with most count of requests. Output data format is json. All datetimes specified in UTC timezone.</p>
        <p><a class="btn btn-default" href="/api/clients/3">Example 1</a></p>
        <p><a class="btn btn-default" href="/api/clients/7?start=1995-07-02">Example 2</a></p>
        <p><a class="btn btn-default" href="http://local.testtask/api/clients/7?start=1995-07-02&end=1995-07-03">Example 3</a></p>
    </div>
    <div class="col-md-4">
        <h2>Routes api controller</h2>
        <p>Controller for displaying routes with most count of requests. Output data format is json. All datetimes specified in UTC timezone.</p>
        <p><a class="btn btn-default" href="/api/routes/11">Example 1</a></p>
        <p><a class="btn btn-default" href="/api/routes/9?start=1995-07-02T11:00:00">Example 2</a></p>
        <p><a class="btn btn-default" href="/api/routes/9?start=1995-07-02&end=1995-07-02T12:00:00">Example 3</a></p>
    </div>
    <div class="col-md-4">
        <h2>Log api controller</h2>
        <p>Controller for displaying full log of requests. Output data format is json. All datetimes specified in UTC timezone.</p>
        <p><a class="btn btn-default" href="/api/log/10/">Example 1</a></p>
        <p><a class="btn btn-default" href="/api/log/5/5">Example 2</a></p>
        <p><a class="btn btn-default" href="/api/log/1/7?start=1995-07-03T00:00:00&end=1995-07-03T01:00:00">Example 3</a></p>
    </div>
</div>
